@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root
{
    --black: #1f1f1f;
    --grey: #404040;
    --white: #F2F6FE;
    --blue: #2A6BBF;
}

::-webkit-scrollbar
{
    width: 8px;
    background: white;
}

::-webkit-scrollbar-thumb
{
    background: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--grey);
}

*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

/* .results-container
{
    height: 500px;
    width: 1000px;
    background-color: black;
} */

#results li
{
    margin: 50px;
    /* height: 500px; */
    width: 1000px;
}

#results li:hover
{
    background-color: #404040;
}
