@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root
{
    --black: #393939;
    --grey: #414342;
    --white: #F2F6FE;
    --blue: #2A6BBF;
}

::-webkit-scrollbar
{
    width: 8px;
    background: white;
}

::-webkit-scrollbar-thumb
{
    background: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--grey);
}

*
{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body
{
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

nav ul
{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    list-style-type: none;
}

nav ul li
{
    margin: 30px 40px;
    cursor: pointer;
}

nav ul li a
{
    color: var(--black);
    text-decoration: none;
    transition: 0.2s;
}

nav ul li a:hover
{
    text-decoration: underline;
    transition: 0.2s;
}

.title
{
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -1px);
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    cursor: default;
    color: var(--black);
}

.search-container
{
    display: flex;
    justify-content: center;
}

#search-bar
{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

#inputbox
{
    font-size: 22px;
    color: var(--black);
    background-color: white;
    border: 1px solid var(--grey);
    outline: none;
    border-radius: 10px;
    width: 900px;
    height: 55px;
    padding-left: 16px;
    padding-right: 16px;
    transition: 0.2s;
}

#inputbox:hover
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

#inputbox:focus
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

.inputbtn
{
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 20px;
    padding-top: 3px;
    color: var(--grey);
    background-color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 0.2s;
}

.inputbtn:hover
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

.results-container
{
    /* padding: 50px; */
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    width: 1850px;
    height: 720px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
}

#results
{
    list-style-type: none;
}

#results li
{
    margin: 100px;
    margin-bottom: 125px;
}

#results li a
{
    cursor: pointer;
    font-weight: bold;
    color: var(--black);
	text-decoration: none;
}

#results li a:hover
{
	text-decoration: underline;
}
