@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root
{
    color-scheme: dark;
    --black: #000;
    --light-black: #090909;
    --lighter-black: #0f0f0f;
    --even-lighter-black: #0c0c0c;
}

*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light-black);
}

#sidebar
{
    padding: 20px;
    background-color: var(--black);
    width: 220px;
    min-height: 100vh;
    overflow: hidden;
}

#sidebar .menu
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    margin-bottom: 25px;
}

#sidebar .menu .github
{
    border-radius: 10px;
    padding: 7px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
}

#sidebar .menu .github:hover
{
    transform: scale(1.02);
    background-color: var(--light-black);
    transition: 0.2s;
}

#sidebar .menu .github:active
{
    transform: scale(0.98);
    background-color: var(--lighter-black);
    transition: 0.2s;
}

#sidebar .menu .clear-history
{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    background-color: var(--black);
    transition: 0.2s;
}

#sidebar .menu .clear-history:hover
{
    transform: scale(1.02);
    background-color: var(--light-black);
    transition: 0.2s;
}

#sidebar .menu .clear-history:active
{
    transform: scale(0.98);
    background-color: var(--lighter-black);
    transition: 0.2s;
}

#sidebar #history
{
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

#sidebar #history p
{
    color: #f9f9f9;
    padding: 10px 12px;
    margin-right: 10px;
    list-style: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

#sidebar #history p:hover
{
    transform: scale(1.02);
    background-color: var(--light-black);
    transition: 0.2s;
}

#sidebar #history p:active
{
    transform: scale(0.98);
    background-color: var(--lighter-black);
    transition: 0.2s;
}

.search-container
{
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    display: flex;
    justify-content: center;
    z-index: 999;
    display: flex;
    padding: 10px;
}

#inputbox
{
    font-size: 16px;
    color: #f9f9f9;
    background-color: var(--black);
    outline: none;
    border: none;
    border-radius: 10px;
    width: 900px;
    height: 59px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
}

#inputbox:hover
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

#inputbox:focus
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

#inputbtn
{
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 20px;
    padding-top: 3px;
    color: #f9f9f9;
    background-color: var(--black);
    border: none;
    outline: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 0.2s;
}

#inputbtn:hover
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    background-color: var(--lighter-black);
    transition: 0.2s;
}

#inputbtn:active
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    background-color: var(--light-black);
    transition: 0.2s;
}

.results-container
{
    flex: 1;
    padding: 20px;
}

.results-container #title
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    cursor: default;
    font-size: 150px;
}

.results-container #time-taken-container
{
    width: max-content;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: default;
    margin-bottom: 20px;
    transition: 0.2s;
}

.results-container #time-taken-container:active
{
    transform: scale(0.95);
    transition: 0.2s;
}

.results-container #time-taken
{
    color: #4e4e4e;
    font-size: 13px;
    z-index: 999;
    cursor: default;
}

.results-container #overview
{
    background-color: var(--black);
    max-height: 800px;
    padding: 20px;
    border-radius: 10px;
    cursor: default;
    overflow-y: auto;
    transition: 0.2s;
}

.results-container #overview div
{
    white-space: pre-wrap;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.results-container #overview:hover
{
    background-color: var(--lighter-black);
    transition: 0.2s;
}

.results-container #overview:active
{
    transform: scale(0.95);
    background-color: var(--even-lighter-black);
    transition: 0.2s;
}

.results-container #results
{
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    overflow-y: auto;
    max-height: calc(85vh - 85px);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
}

.results-container #results .result-block
{
    padding: 15px;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: #f9f9f9;
    text-decoration: none;
    transition: 0.2s;
}

.results-container #results .result-block:hover
{
    transform: scale(1.02);
    background-color: var(--lighter-black);
    text-decoration: underline;
    transition: 0.2s;
}

.results-container #results .result-block:active
{
    transform: scale(0.98);
    background-color: var(--even-lighter-black);
    transition: 0.2s;
}
