@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

::-webkit-scrollbar
{
    width: 8px;
    background: #212121;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
    background: #383838;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #505050;
}

::-webkit-scrollbar-thumb:active
{
    background: #505050;
}

*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #212121;
}

.sidebar
{
    padding: 20px;
    background-color: #171717;
    width: 220px;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar .cpix
{
    border-radius: 10px;
    padding: 7px;
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
}


.sidebar .cpix h3
{
    font-size: 16px;
}

.sidebar .cpix img
{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.sidebar .cpix:hover
{
    background-color: #212121;
    transition: 0.2s;
}

.sidebar .cpix:active
{
    transform: scale(0.95);
    background-color: #202020;
    transition: 0.2s;
}

.sidebar hr
{
    border: none;
    height: 2px;
    background-color: #1f1f1f;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar #history
{
    flex: 1;
    overflow-y: auto;
    max-height: calc(95vh - 95px);
}

.sidebar #history p
{
    color: #f4f4f4;
    padding: 10px 12px;
    list-style: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.sidebar #history p:hover
{
    background-color: #212121;
    transition: 0.2s;
}

.sidebar #history p:active
{
    transform: scale(0.95);
    background-color: #202020;
    transition: 0.2s;
}

.search-container
{
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    display: flex;
    justify-content: center;
    z-index: 999;
    display: flex;
    padding: 10px;
}

#inputbox
{
    font-size: 16px;
    color: white;
    background-color: #2f2f2f;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 900px;
    height: 59px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
}

#inputbox:hover
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

#inputbox:focus
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

#inputbtn
{
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 20px;
    padding-top: 3px;
    color: white;
    background-color: #2f2f2f;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 0.2s;
}

#inputbtn:hover
{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    background-color: #038247;
    transition: 0.2s;
}

.results-container
{
    flex: 1;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.results-container #time-taken
{
    position: absolute;
    bottom: 2%;
    right: 2%;
    transform: translate(-2%, -2%);
    font-size: 16px;
    z-index: 999;
}

.results-container #overview
{
    background-color: #171717;
    width: max-content;
    max-height: 700px;
    padding: 20px;
    border-radius: 10px;
    cursor: default;
    overflow-y: auto;
    margin-bottom: 20px;
    transition: 0.2s;
}

.results-container #overview div
{
    max-width: 99rem;
    white-space: pre-wrap;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.results-container #overview:hover
{
    background-color: #212121;
    transition: 0.2s;
}

.results-container #overview:active
{
    transform: scale(0.95);
    background-color: #171717;
    transition: 0.2s;
}

.results-container #results
{
    flex: 1;
    overflow-y: auto;
    max-height: calc(89vh - 89px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
}

.results-container #results .result-block
{
    padding: 15px;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: #f4f4f4;
    text-decoration: none;
    transition: 0.2s;
}

.results-container #results .result-block:active
{
    transform: scale(0.95);
    background-color: #171717;
    transition: 0.2s;
}

.results-container #results .result-block:hover
{
    background-color: #171717;
    text-decoration: underline;
    transition: 0.2s;
}
