<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cpix</title>

    <link rel="icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <script src="../static/script.js"></script>
    <div class="title-bar">
        <nav>
            <ul>
                <li><a title="Star on Github." href="https://github.com/Light-Lens/Cpix" target="_blank">Github</a></li>
            </ul>
        </nav>
        <a title="Cpix Home" href="/"><h3 id="results-title">Cpix</h3></a>
    </div>
    <div>
        <div class="results-container">
            <ul id="results">
                {% for result in results %}
                    <li>{{ result }}</li>
                {% endfor %}
            </ul>
        </div>
        <h1 id="no-search-history-found">You have no recent searches.</h1>
        <form method="POST" id="clear-history-form">
            <button class="clear-history"><i class="material-symbols-outlined">delete</i></button>
        </form>
    </div>
    <script> CheckForHistory() </script>
    <script> DeleteHistory() </script>
</body>
</html>
