<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cpix</title>

    <link rel="icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <nav>
        <ul>
            <li><a title="Star on Github." href="https://github.com/Light-Lens/Cpix" target="_blank">Github</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <h3 class="title">Cpix</h3>
        <form method="POST" id="search-bar">
            <input class="inputbox" type="text" name="query" autocomplete="off" onkeydown="isEnter();" autofocus required>
            <button class="inputbtn" onclick="SendMessage();"><i class="material-symbols-outlined">search</i></button>
        </form>
    </div>
    <div class="results-container">
        <button class="closebtn" onclick="CloseSearchPanel();"><i class="material-symbols-outlined">close</i></button>
        <ul id="results">
            <!-- All the results will go here. -->
            <!-- <li id="CalculatedAns"></li> This is the template.-->
            <li>Test</li>
        </ul>
    </div>
    <script src="../static/script.js"></script>
    <script> Focus_on_inputbox(); </script>
</body>
</html>
