<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cpix</title>

    <link rel="icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <script src="../static/script.js"></script>
    <div class="sidebar">
        <button title="Take me Home" class="clear-history" id="home"><i class="material-symbols-outlined">home</i>Home</button>
        <a class="github" title="Cpix Code" href="https://github.com/Light-Lens/Cpix" target="_blank">
            <i class="material-symbols-outlined">source</i>
            <h3>GitHub</h3>
        </a>
        <button title="Clear History" class="clear-history" id="clear-history"><i class="material-symbols-outlined">delete</i>History</button>
        <div id="history">
            {% for h in history %}
                <p onclick="PutQueryInSearch(this);">{{ h }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="results-container">
        <h1 id="title">Cpix</h1>
        <h3 id="time-taken">{{ time_taken }}</h3>
        <div id="overview" onclick="ToggleOverview(this);" style="width: max-content;">
            <h3>AI overview</h3>
            <hr style="display: none;">
            <div style="display: none;">{{ overview }}</div>
        </div>
        <div id="results">
            {% for result in results %}
                <a class="result-block" href="{{ result.URL }}" target="_blank">{{ result.Title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="search-container">
        <input id="inputbox" type="text" name="query" placeholder="Search on Cpix" autocomplete="off" autofocus required>
        <button id="inputbtn"><i class="material-symbols-outlined">search</i></button>
    </div>
    <script>
        // Load history when page loads
        document.addEventListener('DOMContentLoaded', function() {
            Focus_on_inputbox();

            const inputbox = document.getElementById("inputbox");
            const inputbtn = document.getElementById("inputbtn");
            const del_history_btn = document.getElementById("clear-history");
            const home = document.getElementById("home");

            // Event listeners for home
            home.addEventListener("click", function() { location.reload(); });

            // Event listeners for clearning history
            del_history_btn.addEventListener("click", DeleteHistory);

            // Event listeners for search
            inputbtn.addEventListener("click", PerformSearch);
            inputbox.addEventListener("keypress", function(event) {
                if (event.key === "Enter")
                {
                    PerformSearch();
                    Focus_on_inputbox();
                }
            });
        });
    </script>
</body>
</html>
