<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cpix</title>

    <link rel="icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <script src="../static/script.js"></script>
    <div class="title-bar">
        <nav>
            <ul>
                <li><a title="Star on Github." href="https://github.com/Light-Lens/Cpix" target="_blank">Github</a></li>
                <li><a title="Cpix History" href="/history">History</a></li>
            </ul>
        </nav>
        <h3 id="time-taken">{{ time_taken }}</h3>
        <a title="Cpix Home" href="/"><h3 id="title">Cpix</h3></a>
    </div>
    <div class="results-container">
        <ul id="results">
            {% for result in results %}
                <li id="result-block" onclick="ToggleResultBlock(this);">
                    <a href="{{ result.URL }}">{{ result.Title }}</a>
                    <h1 style="display: none;" id="result-desc">{{ result.Description }}</h1>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="search-container">
        <form method="POST" id="search-bar">
            <input id="inputbox" type="text" name="query" placeholder="Search on Cpix" autocomplete="off" autofocus required>
            <button class="inputbtn"><i class="material-symbols-outlined">search</i></button>
        </form>
    </div>
    <script> Focus_on_inputbox(); </script>
    <script> SendMessage(); </script>
    <script> ChangeTitle(); </script>
</body>
</html>
